.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hidden {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 50%;
  }
  
  .form-container .form-button-1 {
    display: table-cell;
    background-color: #F0A202;
    height: 3rem;
    width: 10rem;
    border-radius: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
  }

  .form-container .form-button-1:hover {
    background-color: #f6c767;
  }

  .form-container .form-button-2 {
    display: table-cell;
    justify-content: center;
    background-color: #F0A202;
    height: 3rem;
    width: 8rem;
    border-radius: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin-top: 1.2rem;
  }

  .form-container .form-button-2:hover {
    background-color: #f6c767;
  }